.filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* background-color: #ffffff; */
    padding: 20px;
    gap: 20px;
    font-size: 16px;
    height: max-content;
}